In [24]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [4]:
driver= webdriver.Chrome()

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
skill = driver.find_element(By.XPATH,'//div[@class="suggestor-box flex-row flex-wrap bottom "]/input[1]')
skill.send_keys("Data Scientist")

In [7]:
submit = driver.find_element(By.CLASS_NAME,'qsbSubmit')
submit.click()

In [10]:
loc = driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[3]/label/i')
loc.click()

In [11]:
sal = driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[2]/label/i')
sal.click()

In [12]:
job_title=[]
job_loc=[]
company_name=[]
exp_req=[]

In [13]:
title = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title:
    job_title.append(i.text)

In [23]:
loca = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in loca:
    job_loc.append(i.text)

In [15]:
name = driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in name:
    company_name.append(i.text)

In [21]:
exp = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp:
    exp_req.append(i.text)

In [17]:
len(job_title)

20

In [18]:
len(job_loc)

1

In [19]:
len(company_name)

20

In [22]:
len(exp_req)

21

In [25]:
df = pd.DataFrame({'Title':job_title[:10],'Location':job_loc[:10],'Name':company_name[:10],'Experience':exp_req[:10]})

In [26]:
df

,Title,Location,Name,Experience
0,GCP Data Architecture and Modeling,"Noida, Hyderabad, Pune",Tata Consultancy Services (TCS),8-13 Yrs
1,Data Scientist,"Noida, Hyderabad, Pune",Essenware,8-13 Yrs
2,Associate Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Times Internet,2-5 Yrs
3,Data Scientist,Noida,Ericsson,2-3 Yrs
4,Python Data Scientist,Noida,Wizaltia Hr Solutions,3-7 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs
6,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,2-7 Yrs
7,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Elitefit.ai,3-7 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions,3-7 Yrs
9,Data Scientist (Credit Risk),"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",PayU,3-7 Yrs

## Flipkart iphone review

In [39]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [40]:
driver = webdriver.Chrome()

In [41]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [42]:
rating=[]
rev_sum=[]
full_rev=[]

In [43]:
for page in range(0,11):
    rate = driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in rate:
        rating.append(i.text)
    next_button= driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [45]:
for page in range(0,11):
    rev= driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in rev:
        rev_sum.append(i.text)
    next_button= driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [46]:
for page in range(0,11):
    full= driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div/div[1]/div[2]/div[3]/div/div/div/div[2]/div/div/div')
    for i in full:
        full_rev.append(i.text)
    next_button = driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [47]:
len(full_rev)

11

In [48]:
len(rev_sum)

130

In [49]:
len(rating)

110

In [51]:
df = pd.DataFrame({'Rating':rating[:100],'Review':rev_sum[:100]})

In [52]:
df

   Rating               Review
0       5  Best in the market!
1       5       Classy product
2       5    Worth every penny
3       5            Just wow!
4       5            Wonderful
..    ...                  ...
95      5   Highly recommended
96      5            Brilliant
97      5            Must buy!
98      5  Best in the market!
99      5            Excellent

[100 rows x 2 columns]

## Sneakers & Flipkart

In [54]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [55]:
driver = webdriver.Chrome()

In [56]:
driver.get('https://www.flipkart.com/')

In [57]:
sneaker = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
sneaker.send_keys('sneakers')

In [58]:
submit = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
submit.click()

In [59]:
brand=[]
desc=[]
price=[]

In [61]:
for page in range(0,3):
    detail = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in detail:
        brand.append(i.text)
    button= driver.find_element(By.CLASS_NAME,'_9QVEpD')
    button.click()
    time.sleep(3)

In [63]:
for page in range(0,3):
    des= driver.find_elements(By.XPATH,'//a[@class="WKTcLC BwBZTg" or @class="WKTcLC" ]')
    for i in des:
        desc.append(i.text)
    button=driver.find_element(By.CLASS_NAME,'_9QVEpD')
    button.click()
    time.sleep(3)

In [64]:
for page in range(0,3):
    pr= driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in pr:
        price.append(i.text)
    button= driver.find_element(By.CLASS_NAME,'_9QVEpD')
    button.click()
    time.sleep(3)

In [65]:
len(brand)

120

In [66]:
len(desc)

240

In [67]:
len(price)

120

In [68]:
df=pd.DataFrame({'Brand':brand[:100],'Description':desc[:100],'Price':price[:100]})

In [69]:
df

       Brand                                        Description   Price
0     BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹699
1     Aeonik  OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers...  ₹6,079
2   URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...  ₹1,179
3   Red Tape  Casual Sneaker Shoes for Men | Classic Rounded...    ₹799
4   Red Tape  Casual Sneaker Shoes For Men | Stylish and Com...  ₹1,679
..       ...                                                ...     ...
95  Red Tape  Stylish Men's Half Back Open Backless Footwear...    ₹699
96    Aeonik  Combo Pack of 2 Trendy & Stylish Casual Shoes ...  ₹1,577
97    BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹1,349
98  Red Tape  Lifestyle Sneaker Shoes for Men | Soft Cushion...    ₹999
99  Vellinto                                   Sneakers For Men  ₹1,169

[100 rows x 3 columns]

## Amazon India with laptop search

In [70]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [71]:
driver = webdriver.Chrome()

In [72]:
driver.get("https://www.amazon.in/")

In [73]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [74]:
submit = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
submit.click()

In [76]:
intel= driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[20]/span/span[10]/li/span/a/div/label/i')
intel.click()

In [77]:
title=[]
rating=[]
price=[]

In [78]:
titl=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in titl:
    title.append(i.text)

In [86]:
rate= driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rate:
    rating.append(i.text)

In [80]:
pr=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pr:
    price.append(i.text)

In [81]:
len(title)

24

In [82]:
len(rating)

23

In [83]:
len(price)

24

In [87]:
df=pd.DataFrame({'Title':title[:10],'Rating':rating[:10],'Price':price[:10]})

In [88]:
df

                                               Title Rating   Price
0  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...    403  52,999
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    121  49,790
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    707  78,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...    507  62,933
4  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...     62  64,490
5  ASUS [Smartchoice] Vivobook 15, Intel Core i7-...    260  61,990
6  HP Victus Windows 11 Home Gaming Laptop,12Th G...    424  77,490
7  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...    114  70,990
8  Acer Travelmate Business Laptop Intel Core i7-...     38  47,990
9  Dell Inspiron 3530 Laptop, 13th Generation Int...     10  70,890