In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.amazon.in/')

In [5]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('guitar')

In [6]:
submit = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
submit.click()

In [8]:
guitar_url=[]
for page in range(0,3):
    url= driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in url:
        guitar_url.append(i.get_attribute('href'))
    next= driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[1]/div/span[1]/div[1]/div[67]/div/div/span/a[3]')

In [9]:
len(guitar_url)

186

In [10]:
brand=[]
for i in guitar_url:
    driver.get(i)
    time.sleep(5)
    try:
        name= driver.find_element(By.CLASS_NAME,'a-size-base po-break-word')
        brand.append(name.text)
    except NoSuchElementException:
        brand.append('!!!!!Not Present!!!!!')

In [11]:
df=pd.DataFrame({'Brand Name':brand})

In [12]:
df

                Brand Name
0    !!!!!Not Present!!!!!
1    !!!!!Not Present!!!!!
2    !!!!!Not Present!!!!!
3    !!!!!Not Present!!!!!
4    !!!!!Not Present!!!!!
..                     ...
181  !!!!!Not Present!!!!!
182  !!!!!Not Present!!!!!
183  !!!!!Not Present!!!!!
184  !!!!!Not Present!!!!!
185  !!!!!Not Present!!!!!

[186 rows x 1 columns]

In [24]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

In [25]:
driver = webdriver.Chrome()

In [26]:
driver.get('https://images.google.com/')

In [27]:
search= driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
search.send_keys('fruits')

In [31]:
submit = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
submit.click()

In [32]:
image=[]
ima= driver.find_elements(By.XPATH,'//g-img[@class="tb08Pd"]/img')
for i in ima:
    image.append(i.get_attribute('src'))

In [35]:
search1= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/form/div[1]/div[1]/div[2]/div/div[2]/textarea')
search1.clear()
search1.send_keys('car')

In [36]:
submit1 = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/form/div[1]/div[1]/div[2]/button/div/span')
submit1.click()

In [40]:
imagecar=[]
im = driver.find_elements(By.XPATH,'//g-img[@class="mNsIhb"]/img')
for i in im:
    imagecar.append(i.get_attribute('src'))

In [42]:
df=pd.DataFrame({'Fruit':image[:20],'Car':imagecar[:20]})

In [43]:
df

,Fruit,Car
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,https://encrypted-tbn0.gstatic.com/images?q=tb...,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
10,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
11,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
12,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
13,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
14,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
15,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
16,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
17,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
18,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...
19,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////...",https://encrypted-tbn0.gstatic.com/images?q=tb...

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import time

In [2]:
driver= webdriver.Chrome()

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
search= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys('iphone')

In [5]:
submit = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
submit.click()

In [7]:
iphone_url=[]
url=driver.find_elements(By.XPATH,'//div[@class="tUxRFH"]/a')
for i in url:
    iphone_url.append(i.get_attribute('href'))

In [8]:
len(iphone_url)

24

In [10]:
model=[]
for i in iphone_url:
    driver.get(i)
    time.sleep(5)
    try:
        mo=driver.find_element(By.XPATH,'//tr[@class="WJdYP6 row"][3]/td[2]/ul/li[1]')
        model.append(mo.text)
    except NoSuchElementException:
        model.append('-')

In [12]:
color=[]
for i in iphone_url:
    driver.get(i)
    time.sleep(5)
    try:
        co= driver.find_element(By.XPATH,'//tr[@class="WJdYP6 row"][4]/td[2]/ul/li[1]')
        color.append(co.text)
    except NoSuchElementException:
        color.append('-')

In [15]:
processor=[]
for i in iphone_url:
    driver.get(i)
    time.sleep(5)
    try:
        p=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[5]/div/div[2]/div[1]/div[3]/table/tbody/tr[3]/td[2]/ul/li')
        processor.append(p.text)
    except NoSuchElementException:
        processor.append('-')

In [9]:
display=[]
for i in iphone_url:
    driver.get(i)
    time.sleep(5)
    try:
        d=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div[5]/div/div[2]/div[1]/div[2]/table/tbody/tr[2]/td[2]/ul/li')
        display.append(d.text)
    except NoSuchElementException:
        display.append('-')

In [11]:
display

['',
 '',
 '',
 '',
 '-',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '-',
 '',
 '',
 '',
 '',
 '']

In [9]:
import pandas as pd
df=pd.DataFrame({'Model':model,'Color':color,'Display':display,'processor':processor})

NameError: name 'model' is not defined

In [18]:
df

             Model         Color Display processor
0        iPhone 15         Black
1        iPhone 15          Blue
2        iPhone 15         Green
3   iPhone 14 Plus      Midnight
4   iPhone 14 Plus          Blue
5   iPhone 14 Plus     Starlight
6   iPhone 14 Plus        Purple
7        iPhone 15        Yellow
8   iPhone 14 Plus  (PRODUCT)RED
9        iPhone 14          Blue
10       iPhone 12         Black       -
11  iPhone 15 Plus          Blue
12  iPhone 14 Plus      Midnight
13  iPhone 15 Plus         Green
14  iPhone 14 Plus        Yellow
15       iPhone 13     Starlight       -
16       iPhone 13          Pink       -
17       iPhone 13          Blue       -
18       iPhone 15          Pink
19       iPhone 13      Midnight       -
20       iPhone 13          Blue       -
21       iPhone 12          Blue       -
22       iPhone 13          Pink       -
23  iPhone 14 Plus          Blue

In [19]:
driver.close()

In [16]:
len(display)

24

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [19]:
driver = webdriver.Chrome()

In [20]:
driver.get('https://www.digit.in/')

In [21]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div/div/div[2]/form/input[1]')
search.send_keys('AI LAPTOP')

In [22]:
submit = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div/div/div[2]/form/button')
submit.click()

In [23]:
laptop_url=[]
for page in range(0,2):
    url = driver.find_elements(By.XPATH,'//h3[@class=" text-clamp text-clamp-2"]/a')
    for i in url:
        laptop_url.append(i.text)
        next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/article/div[2]/nav/ul/li[4]/a')

In [24]:
len(laptop_url)

24

In [25]:
laptop_url

['Microsoft Laptop 4 5AI-00121 11th Gen Core i5-1135G7 (2022)',
 'Apple MacBook Air 2023',
 'Alienware x14 Gaming Laptop',
 'MSI Gaming Raider',
 'Lenovo Legion 5 Pro 82JD005KIN | 11th Gen Core i7-11800H | RTX 3060 | 16GB',
 'Acer Aspire 5 13th Gen Core i5-1335U (A514-56GM)',
 'HP Victus 15',
 'Dell Inspiron 15 Athlon Gold 7220U',
 'acer Predator Helios 300 PH315-53 10th Gen Core i7-10870H',
 'Lenovo IdeaPad Gaming 3 15IAH7',
 'Acer Aspire 5',
 'Dell Latitude 7430',
 'Microsoft Laptop 4 5AI-00121 11th Gen Core i5-1135G7 (2022)',
 'Apple MacBook Air 2023',
 'Alienware x14 Gaming Laptop',
 'MSI Gaming Raider',
 'Lenovo Legion 5 Pro 82JD005KIN | 11th Gen Core i7-11800H | RTX 3060 | 16GB',
 'Acer Aspire 5 13th Gen Core i5-1335U (A514-56GM)',
 'HP Victus 15',
 'Dell Inspiron 15 Athlon Gold 7220U',
 'acer Predator Helios 300 PH315-53 10th Gen Core i7-10870H',
 'Lenovo IdeaPad Gaming 3 15IAH7',
 'Acer Aspire 5',
 'Dell Latitude 7430']

In [26]:
price=[]
for page in range(0,2):
    pr= driver.find_elements(By.XPATH,'//div[@class="price_for_grid redbrightcolor floatleft rehub-btn-font mr10"]')
    try:
        for i in pr:
            price.append(i.text)
    except NoSuchElementException:
        price.append('NA')

In [27]:
len(price)

24

In [28]:
price

['',
 '₹134,900.00',
 '₹174,990.00',
 '',
 'out of stock\nBuy Now\nAmazon.in',
 'Rs. 53,581\nRs. 90,999\nin stock\nBuy Now\nAmazon.in',
 '₹112,990.00',
 '₹38,499.00',
 'Rs. 77,990\nRs. 149,999\nout of stock\nBuy Now\nFlipkart',
 '₹79,831.00',
 'out of stock\nBuy Now\nAmazon.in',
 '₹120,224.00',
 '',
 '₹134,900.00',
 '₹174,990.00',
 '',
 'out of stock\nBuy Now\nAmazon.in',
 'Rs. 53,581\nRs. 90,999\nin stock\nBuy Now\nAmazon.in',
 '₹112,990.00',
 '₹38,499.00',
 'Rs. 77,990\nRs. 149,999\nout of stock\nBuy Now\nFlipkart',
 '₹79,831.00',
 'out of stock\nBuy Now\nAmazon.in',
 '₹120,224.00']

In [29]:
import pandas as pd
df=pd.DataFrame({'Laptop':laptop_url,'Price':price})

In [30]:
df

,Laptop,Price
0,Microsoft Laptop 4 5AI-00121 11th Gen Core i5-...,
1,Apple MacBook Air 2023,"₹134,900.00"
2,Alienware x14 Gaming Laptop,"₹174,990.00"
3,MSI Gaming Raider,
4,Lenovo Legion 5 Pro 82JD005KIN | 11th Gen Core...,out of stock\nBuy Now\nAmazon.in
5,Acer Aspire 5 13th Gen Core i5-1335U (A514-56GM),"Rs. 53,581\nRs. 90,999\nin stock\nBuy Now\nAma..."
6,HP Victus 15,"₹112,990.00"
7,Dell Inspiron 15 Athlon Gold 7220U,"₹38,499.00"
8,acer Predator Helios 300 PH315-53 10th Gen Cor...,"Rs. 77,990\nRs. 149,999\nout of stock\nBuy Now..."
9,Lenovo IdeaPad Gaming 3 15IAH7,"₹79,831.00"
10,Acer Aspire 5,out of stock\nBuy Now\nAmazon.in
11,Dell Latitude 7430,"₹120,224.00"
12,Microsoft Laptop 4 5AI-00121 11th Gen Core i5-...,
13,Apple MacBook Air 2023,"₹134,900.00"
14,Alienware x14 Gaming Laptop,"₹174,990.00"
15,MSI Gaming Raider,
16,Lenovo Legion 5 Pro 82JD005KIN | 11th Gen Core...,out of stock\nBuy Now\nAmazon.in
17,Acer Aspire 5 13th Gen Core i5-1335U (A514-56GM),"Rs. 53,581\nRs. 90,999\nin stock\nBuy Now\nAma..."
18,HP Victus 15,"₹112,990.00"
19,Dell Inspiron 15 Athlon Gold 7220U,"₹38,499.00"
20,acer Predator Helios 300 PH315-53 10th Gen Cor...,"Rs. 77,990\nRs. 149,999\nout of stock\nBuy Now..."
21,Lenovo IdeaPad Gaming 3 15IAH7,"₹79,831.00"
22,Acer Aspire 5,out of stock\nBuy Now\nAmazon.in
23,Dell Latitude 7430,"₹120,224.00"

In [33]:
driver.close()

In [31]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [32]:
driver=webdriver.Chrome()

In [33]:
driver.get('https://www.forbes.com/')

In [36]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/header/div[1]/div[1]/div')
search.click()

In [38]:
list = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/header/div[1]/div[1]/div[2]/ul/li[2]')
list.click()

In [40]:
tab = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/header/div[1]/div[1]/div[2]/ul/li[2]/div[2]/div[3]/ul/li[2]')
tab.click()

In [41]:
name=[]
age=[]
networth=[]
state=[]

nam= driver.find_elements(By.XPATH,'//div[@class="Table_tableRow__x3HMS"]/div[2]')
try:
    for i in nam:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')

In [42]:
a= driver.find_elements(By.XPATH,'//div[@class="Table_tableRow__x3HMS"]/div[4]')
try:
    for i in a:
        age.append(i.text)
except NoSuchElementException:
    age.append('NA')

    
net=driver.find_elements(By.XPATH,'//div[@class="Table_tableRow__x3HMS"]/div[3]')
try:
    for i in net:
        networth.append(i.text)
except NoSuchElementException:
    networth.append('NA')

    
sta=driver.find_elements(By.XPATH,'//div[@class="Table_tableRow__x3HMS"]/div[5]')
try:
    for i in sta:
        state.append(i.text)
except NoSuchElementException:
    state.append('NA')

In [43]:
import pandas as pd

In [49]:
df=pd.DataFrame({'Name':name[90:120],'Age':age[90:120],'Networth':networth[90:120],'State':state[90:120]})

In [50]:
df

                         Name Age Networth           State
0              Ramzi Musallam  55     $9 B        New York
1        J. Christopher Reyes  69     $9 B         Florida
2                  Jude Reyes  68     $9 B         Florida
3              Charles Schwab  86     $9 B      California
4                  Joe Gebbia  42   $8.9 B           Texas
5                Henry Kravis  79   $8.9 B        New York
6   Pauline MacMillan Keinath  89   $8.8 B        Missouri
7               Orlando Bravo  53   $8.7 B         Florida
8                Jimmy Haslam  69   $8.7 B       Tennessee
9           Elizabeth Johnson  60   $8.7 B   Massachusetts
10            James Goodnight  80   $8.5 B  North Carolina
11       Henry Nicholas, III.  63   $8.5 B      California
12               Marc Benioff  59   $8.4 B      California
13                Robert Pera  45   $8.3 B      California
14                 David Shaw  72   $8.3 B        New York
15  Elisabeth DeLuca & family  76   $8.2 B         Florida
16            Jack Dangermond  78   $8.1 B      California
17                  Tom Gores  59   $8.1 B      California
18      Paul Tudor Jones, II.  69   $8.1 B         Florida
19               Steven Rales  72   $8.1 B      California
20             Antony Ressler  62   $8.1 B      California
21              Leonard Stern  85   $8.1 B        New York
22             Rocco Commisso  73     $8 B      New Jersey
23            Tilman Fertitta  66     $8 B           Texas
24               David Geffen  80     $8 B      California
25                John Morris  75     $8 B        Missouri
26               Arthur Blank  81   $7.9 B         Georgia
27               Bruce Kovner  78   $7.7 B        New York
28             Igor Olenicoff  81   $7.7 B         Florida
29               Charles Butt  85   $7.6 B           Texas

In [51]:
driver.close()

In [11]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [12]:
driver= webdriver.Chrome()

In [13]:
driver.get('https://www.youtube.com/')

In [14]:
search = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/div/ytd-masthead/div[4]/div[2]/ytd-searchbox/form/div[1]/div[1]/input')
search.send_keys('pixel 8a')

In [15]:
submit= driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/div/ytd-masthead/div[4]/div[2]/ytd-searchbox/button/yt-icon/yt-icon-shape/icon-shape/div')
submit.click()

In [16]:
link= driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/ytd-page-manager/ytd-search/div[1]/ytd-two-column-search-results-renderer/div/ytd-section-list-renderer/div[2]/ytd-item-section-renderer/div[3]/ytd-video-renderer[2]/div[1]/div/div[1]/div/h3/a/yt-formatted-string')
link.click()

In [21]:
#play = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/ytd-page-manager/ytd-watch-flexy/div[5]/div[1]/div/div[1]/div[2]/div/div/ytd-player/div/div/div[34]/div[2]/div[1]/button')
#play.click()

In [36]:
comm= driver.find_elements(By.XPATH,'//span[@class="yt-core-attributed-string yt-core-attributed-string--white-space-pre-wrap"]')
for _ in range(1000):
    for i in comm:
        try:
            comment.append(i.text)
                    
        except NoSuchElementException:
            comment.append('NA NA NA')

In [37]:
len(comment)

70117

In [33]:
comment[100:120]

['I didnt expected the photos of the xperia were still so good in comparison. do we miss night photography though? i mean i love xperia i have one here the 5ii and i have a google here too the 6a but i always thought the sony xperia 10 series were pretty bad in the camera department.',
 'So, camera of Xperia is as good as A55? Or is it worse? Thanks for this video. I would like to buy something not expensive with not bad camera and battery. Non China',
 'thank you very much for the test, but please tell me who do I have to kill or sleep with  so that you can do the same test but on a 4G/wifi mix?  Preferably with Xperia 5 V, 10 VI, Pixel 8/8a and iPhone 15 and possibly S24 (Exynos from the European market)',
 '',
 'no love for the OnePlus 12R?',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 "What is the best mid-range smartphone in terms of battery life, performance, and camera? I am going to compare four of them in this video, Sony's latest midrange phone which is Xperia 10 VI vs Pixel 8a, Samsung A55, and Samsung A35. All of these phones are almost under 500 USD. ",
 'It seems that this year no one is competing with Sony phones In terms of battery life performance \nXperia 1vi  & Xperia 10 vi\nThey have amazing battery life',
 'Its funny how the exynos flagship is (still) lagging behind in terms of efficiency but their midrange turns out to pretty good',
 'A55 IS GREAT IN ALL ASPECTS ',
 'Sony Xperia 10VI ',
 "Really like your methods, surprised the outside test isn't common amongst other tech reviewers. Great video",
 'all people know Xperia  phone battery unbeatable even iphone  pro cant beat it.',
 'A55 is great']

In [38]:
day=[]
d=driver.find_elements(By.XPATH,'//span[@class="style-scope ytd-comment-view-model"]/a')
for _ in range(1000):
    for i in d:
        try:
            day.append(i.text)
                    
        except NoSuchElementException:
            day.append('NA NA NA')

In [39]:
len(day)

22000

In [43]:
import pandas as pd
df= pd.DataFrame({'Comment':comment[40:60],'Day':day[40:60]})

In [44]:
df

                                              Comment                    Day
0                                          King: sony           20 hours ago
1   My Tensor G3 Geekbench multicore scores are al...              1 day ago
2                                          omg 10 vi               1 day ago
3   Can you  tell me what app are you using to mea...              1 day ago
4   I didnt expected the photos of the xperia were...              1 day ago
5   So, camera of Xperia is as good as A55? Or is ...              1 day ago
6   thank you very much for the test, but please t...              1 day ago
7                                                      22 hours ago (edited)
8                        no love for the OnePlus 12R?     1 day ago (edited)
9                                                               14 hours ago
10                                                              20 hours ago
11                                                                 1 day ago
12                                                                 1 day ago
13                                                                 1 day ago
14                                                     19 hours ago (edited)
15                                                                 1 day ago
16  What is the best mid-range smartphone in terms...           16 hours ago
17  It seems that this year no one is competing wi...          3 minutes ago
18  Its funny how the exynos flagship is (still) l...              1 day ago
19                       A55 IS GREAT IN ALL ASPECTS               1 day ago